@model IEnumerable<ASP.Models.User>

@{
    ViewData["Title"] = "Users List";
}

<h2>Users</h2>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.UserID)</th>
            <th>@Html.DisplayNameFor(model => model.UserName)</th>
            <th>@Html.DisplayNameFor(model => model.UserEmail)</th>
            <th>@Html.DisplayNameFor(model => model.UserPassword)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.UserID</td>
                <td>@user.UserName</td>
                <td>@user.UserEmail</td>
                <td>@user.UserPassword</td>
                <td>
                    <a href="@Url.Action("Edit", "User", new { id = user.UserID })">Edit</a> |
                    <a href="@Url.Action("Delete", "User", new { id = user.UserID })">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
